@import '../_variables.scss';

.container {
    .flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        .about {
            order: 1; // Order of item in container
            flex-basis: 50vh; // Default flex item size
            //min-width: 70vh;
        }

        .where-to-find {
            order: 2;
            flex-basis: 50vh;
            //min-width: 20vw;
        }
    }

    .non-flexbox {

        .home {
            position: relative;

        }
    }

}