<div class="container">
    <h2>Where to find us!</h2>
    <a href="https://maps.app.goo.gl/E4wY4TZejdLdk44a8" target="_blank" class="mapLink"><h4>4044 S 2700 E, Holladay, UT 84124</h4>

    <div class="Picture"><img src="assets/Images/Outside.jpg" alt="Picture"></div></a>

    <div class="Text">
        <h3>Shop Times</h3>
        <ul>Mon: 8AM - 2PM ; 5PM - 8PM</ul>
        <ul>Tues: 8AM - 2PM ; 5PM - 8PM</ul>
        <ul>Wed: 8AM - 3PM ; 5PM - 8PM</ul>
        <ul>Thurs: 8AM - 2PM ; 5PM - 8PM</ul>
        <ul>Fri: 8AM - 2PM ; 5PM - 8PM</ul>
        <ul>Sat: 9AM-8PM</ul>
        <ul>Sun: CLOSED</ul>
        <br>
    </div>
    
  
</div>