<div class="container">
    <h2>Where to find us!</h2>
    <p>4044 S 2700 E, Holladay, UT 84124</p>
    <div class="Picture"><img src="assets/Placeholder.png" alt="CHANGEME"></div><br>
    <a href="https://www.instagram.com/yanacoffeeslc/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="noUnderline"><img src="assets/instagram.png" alt="Instagram"></a>
    <a href="https://www.facebook.com/profile.php?id=61552690393487" target="_blank" class="noUnderline"><img src="assets/facebook.png" alt="facebook.png"></a>
    <a href="https://www.tiktok.com/@yanacoffeeslc" target="_blank" class="noUnderline"><img src="assets/tiktok.png" alt="TikTok"></a>      
</div>