@import "../_variables.scss";

.container {
  text-align: center;
  background-color: $primary-color;
  //width: 50vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 10px;
  margin: 20px;
  .mapLink {
    text-decoration: none;
    color: $accent-color;
  }

  img {
    width: max-width;
    height: auto;
    max-width: 40vw;
  }

  .Picture {
    img {
      min-width: 300px;
    }
  }
}

