<div class="container">
    <h2>Introducing "You Are Not Alone"</h2>
    <img src="assets/Images/Intro.jpg">
    <p>

        I'm thrilled to share the heartwarming news about a recently opened coffee haven named "You Are Not Alone." It's
        more than just a café; it's a welcoming space crafted by passionate owners who understand the pangs of
        loneliness, especially in these post-pandemic times. At "You Are Not Alone," the aroma of freshly brewed coffee
        intertwines with the hum of conversations, creating an inviting ambiance. This spot isn't just about coffee;
        it's a gentle reminder that in our journey of recovery, we're not alone. Human connection matters deeply, now
        more than ever. Join me for a cup and some genuine conversations at "You Are Not Alone."
    </p>
</div>