@import '../_variables.scss';

// This CSS code applies when the browser window is 399 px and below (phone size)
.container {
    text-align: center;
    background-color: $background-color;
    margin: 20px;
    
    img{
        height: auto;
        max-width: 40vw;
        min-width: 300px;
    }
}