<div class="container">
    <h2>Introducing "You Are Not Alone"</h2>
    <img src="assets/Images/Intro.jpg">
    <p>
        I am excited to share the news of a new coffee shop that has recently opened. The name of the shop is "You Are
        Not Alone" and it aims to bring people together after the pandemic. The owners wanted to create a space where
        people can come and connect with others, share stories, and enjoy a cup of freshly brewed coffee. The aroma of
        the coffee beans mixed with the chatter of people creates a warm and inviting atmosphere. As we slowly recover
        from the effects of the pandemic, this coffee shop serves as a reminder that we are not alone and that human
        connection is important now more than ever. So come and join us for a cup of coffee and some meaningful
        conversations at "You Are Not Alone".
    </p>
</div>