<div class="Container">
    <h2>Menu:</h2>
    <div class="Catagories">

        
        <div class="Contents">
            <h3>Coffee:</h3>
            <li>fdsfasfdfasd</li>
            <li>fdsfsaasdasfds</li>
            <li>fsdasda</li>
            <li>asfdsafds</li>
        </div>

        
        <div class="Contents">
            <h3>Hot Tea:</h3>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
        </div>

        
        <div class="Contents">
            <h3>Boba Drink:</h3>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
        </div>

        
        <div class="Contents">
            <h3>Crepes:</h3>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
        </div>


        
        <div class="Contents">
            <h3>Croffle</h3><p>(Croisant & Waffle)</p>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
        </div>


        
        <div class="Contents">
            <h3>Pastries:</h3>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
        </div>


        
        <div class="Contents">
            <h3>Gelato:</h3>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
            <li>fdsfsdfdsa</li>
        </div>


    </div>
</div>