// https://www.realtimecolors.com/dashboard?colors=000000-feeddb-D0501F-FE6125-000000&fonts=Red%20Hat%20Display-Red%20Hat%20Display

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Red+Hat+Display&display=swap');

$text-color: #000000;
$background-color: #FEEDDB;
$primary-color: #D0501F;
$secondary-color: #FE6125;
$accent-color: #000000;

$body-font-family: 'Red Hat Display', sans-serif; // The sans-serif is a backup I think
$heading-font-family: 'Barlow', sans-serif;


html {font-size: 100%;} /* 16px */
h1 {font-size: 5.652rem; /* 90.4px */}
h2 {font-size: 3.997rem; /* 64px */}
h3 {font-size: 2.827rem; /* 45.28px */}
h4 {font-size: 1.999rem; /* 32px */}
h5 {font-size: 1.414rem; /* 22.56px */}
small {font-size: 0.707rem; /* 11.36px */}

h1, h2, h3, h4, h5 {
  font-family: $heading-font-family;
  font-weight: 700;
}
body {
  font-family: $body-font-family;
  font-weight: 400;
}
