<div class="container">
  <app-navigation class="nav"></app-navigation>
  <div class="flexbox">
    <app-about class="about"></app-about>
    <app-where-to-find class="where-to-find"></app-where-to-find>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-menu class="menu"></app-menu>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-home class="home"></app-home>
  </div>
  <app-footer></app-footer>
</div>