@import '../_variables.scss';

$space-from-edge: 30px;

// This CSS code applies when the browser window is 399 px and below (phone size)
.sticky {
  background-color: $background-color;
  position: -webkit-sticky; // For safari
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .Logo {
    img {
    width: fit-content;
    height: fit-content;
    max-height: 125px;
    max-width: 125px;
    margin-left: $space-from-edge;
    }
  }
  .Items{
    font-family:$heading-font-family;
    font-size:1.999rem;
    a:link{
      margin-left: 10px;
      margin-right: 10px;
      color:$text-color;
      text-decoration: none;
    }
    a:visited{
      color:$text-color;
    }
    a:hover {
      color:$secondary-color;
    }
  }
  .ItemsHidden{
    .menu-button{
      background-color: $background-color;
      border: none;
      margin-right: $space-from-edge;
    }
    .ItemsHiddenToggled{
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width:10000px){
 // Redundant for now
}
