@import '../_variables.scss';


.sticky { // For the nav bar always sticking to the top
  background-color: $primary-color;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  //align-items: center;

}

.Logo{
  max-width: 500px;
  min-width: 15%;
  
}

.MenuButton{
  font: $body-font-family;
  padding:10px;
  background-color: $primary-color;
  border-bottom-right-radius: 5px;
  height: fit-content;
  max-height: 50px;
  color: $text-color;
  transition: background-color 0.3s ease;
}

.MenuButton:hover{
  background-color: $secondary-color;
}

.OrderButton {
  display: inline-block;
  padding: 10px;
  background-color: $primary-color; 
  text-decoration: none;
  border-bottom-left-radius: 5px;  
  transition: background-color 0.3s ease; 
  color: $text-color; 
  height: fit-content;
  max-height: 50px;
  

  
}
.OrderButton:hover {
  background-color: $secondary-color;
}

.OrderIcon{
  max-height: 50px;
}