<div class="container">
    <h2>Popular Items</h2>

    <a href="https://www.toasttab.com/local/order/yana-coffee-tea-4044-south-2700-east/r-42167585-ffec-45bf-b6db-cd30c3eca848?diningOption=takeout&rwg_token=AOZt1jV8YncwDT1dPzxEpoPCdOs_xbqwwrpsJZBLa-J1KdJTJ29s1Aszs28anSNWQ0gtcE43qb8Q-fmiS4T9pYi-IMM0hc9J1w%3D%3D"
        class="noUnderline" target="">
        <div class="Featured">
            <div class="ProductListing">
                <h4>Crepes</h4>
                <img src="assets/Images/Crepe.jpg">
                <p> Indulge in our crave-worthy crepes, offered sweet or savory all day. Try hearty options like Ella
                    Cheese, Abby Garden, or Aify-doo with combos such as Honey, Cheese, Almond, and Parmesan, and add
                    your favorite meat. For a sweet treat, savor our Sam Crepe loaded with fruit, Nutella, and Whip
                    Cream. Whatever your mood, our crepes promise a delicious fix.

                </p>
            </div>
            <div class="ProductListing">
                <h4>Gelato</h4>
                <img src="assets/Images/Gelato.jpg">
                <p>
                    Savor the goodness of our locally made gelato—no fancy stuff, just pure, real ingredients for a
                    taste that's simply unmatched. Say goodbye to the heavy fats in regular ice cream without
                    sacrificing flavor. Treat yourself to a scoop of our down-to-earth, delicious gelato, proudly
                    crafted right here.
                </p>
            </div>
            <div class="ProductListing">
                <h4>Boba</h4>
                <img src="assets/Images/brownsugarboba.jpg">
                <p> Explore a range of satisfying boba options. From the timeless joy of our Peach Boba
                    to the sweet comfort of Brown Sugar Boba, we've got diverse flavors to suit every mood. Enjoy
                    the calm and the flavors with our variety of boba offerings.

                </p>
            </div>
            <div class="ProductListing">
                <h4>Pastries</h4>
                <img src="assets/Images/AlmondCroissant.jpg">
                <p>
                    Dive into our local pastries—flaky croissants, yummy muffins, all the good stuff! Baked with local
                    love, these bites are a taste of our awesome community. No frills, just seriously tasty treats. Get
                    a slice of local flavor in every bite!

                </p>
            </div>
        </div>
    </a>

</div>