<div class="container">
    <h2>Popular Items</h2>

    <a href="https://www.toasttab.com/local/order/yana-coffee-tea-4044-south-2700-east/r-42167585-ffec-45bf-b6db-cd30c3eca848?diningOption=takeout&rwg_token=AOZt1jV8YncwDT1dPzxEpoPCdOs_xbqwwrpsJZBLa-J1KdJTJ29s1Aszs28anSNWQ0gtcE43qb8Q-fmiS4T9pYi-IMM0hc9J1w%3D%3D" class="noUnderline" target="">
        <div class="Featured">
            <div class="ProductListing">
                <h4>Product Name</h4>
                <img src="assets/Placeholder2.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                    ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                    tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis
                    vitae
                    ligula lorem. Nullam eu.

                </p>
            </div>
            <div class="ProductListing">
                <h4>Product Name</h4>
                <img src="assets/Placeholder2.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                    ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                    tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis
                    vitae
                    ligula lorem. Nullam eu.

                </p>
            </div>
            <div class="ProductListing">
                <h4>Product Name</h4>
                <img src="assets/Placeholder2.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                    ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                    tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis
                    vitae
                    ligula lorem. Nullam eu.

                </p>
            </div>
            <div class="ProductListing">
                <h4>Product Name</h4>
                <img src="assets/Placeholder2.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                    ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                    tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis
                    vitae
                    ligula lorem. Nullam eu.

                </p>
            </div>
        </div>
    </a>

</div>