<div class="container">
    <h2>Popular Items</h2>

    <div class="Featured">
        <div class="ProductListing">
            <h4>Product Name</h4>
            <img src="assets/Placeholder2.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis vitae
                ligula lorem. Nullam eu.

            </p>
        </div>
        <div class="ProductListing">
            <h4>Product Name</h4>
            <img src="assets/Placeholder2.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis vitae
                ligula lorem. Nullam eu.

            </p>
        </div>
        <div class="ProductListing">
            <h4>Product Name</h4>
            <img src="assets/Placeholder2.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis vitae
                ligula lorem. Nullam eu.

            </p>
        </div>
        <div class="ProductListing">
            <h4>Product Name</h4>
            <img src="assets/Placeholder2.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat ligula in leo euismod, fringilla
                ultrices massa bibendum. Pellentesque a nisl eget orci lobortis convallis. Nulla ultricies dignissim
                tortor, vel finibus elit laoreet at. Cras nec nisl nec mauris hendrerit tempor sed at eros. Duis vitae
                ligula lorem. Nullam eu.

            </p>
        </div>
    </div>
    
</div>