/* You can add global styles to this file, and also import other style files */

@import './app/_variables.scss';
body{

  font-family: $body-font-family;
  background-color: $background-color;
  margin: 0;
}
