<div class="Container">
    <img src="assets/HomeBackground.jpg" alt="Home">

    <div class="Text">

        <h2>Welcome to Y.A.N.A</h2>
        <div class="IMGSlider" #IMGSlider>
            <div *ngFor="let image of images" class="slide" [ngStyle]="{'background-image': 'url(' + image + ')'}">
            </div>
        </div>
        <h3><a href="https://www.google.com" target="" class="noUnderline">Order Online</a> Or <a
                href="https://www.google.com" target="" class="noUnderline">Visit us</a></h3>
    </div>

</div>