<div class="Container">
    <img src="assets/HomeBackground.jpg" alt="Home">

    <div class="Text">

        <h2>Welcome to Y.A.N.A</h2>
        <h3><a href="https://www.toasttab.com/local/order/yana-coffee-tea-4044-south-2700-east/r-42167585-ffec-45bf-b6db-cd30c3eca848?diningOption=takeout&rwg_token=AOZt1jV8YncwDT1dPzxEpoPCdOs_xbqwwrpsJZBLa-J1KdJTJ29s1Aszs28anSNWQ0gtcE43qb8Q-fmiS4T9pYi-IMM0hc9J1w%3D%3D" target="" class="noUnderline">Order Online</a> Or <a
                href="https://maps.app.goo.gl/E4wY4TZejdLdk44a8" target="" class="noUnderline">Visit us</a></h3>
    </div>

</div>