@import '../_variables.scss';


.Container {
    text-align: center;
    width: 100%;
    position: relative;

    .img {
        max-width: 100vw;
        height: auto;
        display: block;

    }

    h2 {
        font-family: $heading-font-family;
        top: none;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}